@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<div>
	<button onclick="GFG_Fun()">Click Me!</button>
</div>
<div id="GFG_DIV" class="text-center">
	<body>
		<h1 class="display-4">Welcome to My HomePage</h1>
		<p class="p1">Check out my cool homepage</a>.</p>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/suiLloEzteU"
				title="YouTube video player" frameborder="0"
				allow="accelerometer; autoplay; clipboard-write;
        encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</body>
</div>

<style>
	#myContainer {
		width: 200px;
		height: 200px;
		position: relative;
		background: green;
	}

	#myAnimation {
		width: 30px;
		height: 30px;
		position: absolute;
		background: blue;
	}
</style>

<div id="myContainer">
<div id="myAnimation">
</div>
</div>

<p>
	<button onclick="myMove()">Click For Animation</button>
</p>
